<!DOCTYPE html>
<html>
    <head>
        <!-- Responsive + Encoding Meta Tag -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Frist SPA</title>
        <script src="./vue.js"></script>
        
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <div id="app">
            {{message}}
        
        <input type="text" v-model="location" placeholder="Adelaide" class="Location">
        <input type="text" v-model="search" placeholder="Search for Restaurant, Cuisine or a Dish" class="searchin">
        <button v-on:click="Searchname">Search</button>
        
        </div>
        
        <script src="./script.js"></script>
    </body>
</html>