
html, body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
   
}

.searchin{
    background-color: bisque;
    width: 150%;
    padding: 8px 12px;
}

button{
    border: blue;
}


