
html, body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 16px;
}

div#app {
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-size:200%;
   
}

.Location
{
    background-color: aliceblue;
    border: 1px solid black;
    line-height: normal;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.searchin{
    background-color:aliceblue;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 200%;
    line-height: normal;
}

button{
    border: 1px solid black;
    border-radius: 10px;
}


